#blacklist-button {
  background-color: red;
  color: white;
  border: none;
  height: 100%;
  cursor: pointer;
}

/* mangaowl */
.navbar.navbar-inverse.navbar-fixed-top {
  opacity: 0!important;
}

/* mangakakalot */
.list-truyen-item-wrap {
  position: relative;
}

.list-truyen-item-wrap button {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px!important;
  width: 20px;
}

/* qq */
.ret-works-title.clearfix {
  position: relative;
}

.ret-works-title.clearfix #blacklist-button {
  position: absolute;
  right: 24px;
}

/* mkzhan */
.comic__title {
  position: relative;
}

.comic__title #blacklist-button {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
}

/* coco */
.fed-list-title {
  position: relative;
}

.fed-list-title #blacklist-button {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
}

